body {
	font-family: 'Raleway', sans-serif;
	background: #eff4f0;
}

.container {
	margin: auto;
}

#content {
	padding-top: 250px;
}

h4 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-success {
	background-color: rgb(55,178,100) !important;
	border-color: rgba(5,137,80,0.3);
}

.btn-success:hover {
	background-color: rgb(129,211,129) !important;
}

.btn-success.active {
	background-color: rgb(160,82,45) !important;
}

.btn-success.active:hover {
	background-color: rgb(193,101,58) !important;
}