<!DOCTYPE html>
<html>
<head>
	<title>plantID admin</title>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Raleway:200,100" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
	<script src="/javascripts/jquery-3.2.1.min.js"></script>
	<script src="/javascripts/jquery.knob.js"></script>
	<script src="/javascripts/masonry.pkgd.min.js"></script>
	<script src="/javascripts/imagesloaded.pkgd.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid col-lg-offset-1 col-lg-10">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">plant<i class="fa fa-envira" aria-hidden="true"></i><span class="to-white">ID admin</span></a>
				<p class="navbar-text to-white"></p>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<div class="nav navbar-nav">
					<li><a id="attrButton" href="#">ATTRIBUTES</a></li>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout">LOGOUT</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="attributes">
		<div id="box">
			<div id="coll">
				<ul>
					<li><a id="shape" href="#">shape</a></li>
					<li><a id="pinnated" href="#">pinnated</a></li>
					<li><a id="leaflet_bilateral" href="#">leaflet_bilateral</a></li>
					<li><a id="leaflet_top" href="#">leaflet_top</a></li>
					<li><a id="slanted" href="#">slanted</a></li>
					<li><a id="serrated" href="#">serrated</a></li>
					<li><a id="veins" href="#">veins</a></li>
					<li><a id="veins_bilateral" href="#">veins_bilateral</a></li>
					<li><a id="shiny" href="#">shiny</a></li>
				</ul>
			</div>
		</div>
	</div>


	<div class="container-fluid" id="main">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="jumbotron" id="results-container">
				<h4 id="results-header">Select an attribute to edit.</h4>
				<div id="results-photo">
					<div class="row">
						<div id="result-box-1-label"></div>
						<div id="result-box-2-label"></div>
						<div id="result-box-3-label"></div>
					</div><br>
					<div class="row">
						<div id="result-box-1-buttons"></div>
						<div id="result-box-2-buttons"></div>
						<div id="result-box-3-buttons"></div>
					</div><br>
					<div class="row">
						<div id="result-box-1"></div>
						<div id="result-box-2"></div>
						<div id="result-box-3"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/javascripts/admin.js"></script>
</body>
</html>
