<!DOCTYPE html>
<html>
<head>
	<title>plantID admin</title>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Raleway:200,100" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
	<script src="/javascripts/jquery-3.2.1.min.js"></script>
	<script src="/javascripts/jquery.knob.js"></script>
	<script src="/javascripts/masonry.pkgd.min.js"></script>
	<script src="/javascripts/imagesloaded.pkgd.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="attr-edit" class="modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Selected Attribute: <span id="selected-attr">None, select one to edit.</span></h4>
				</div>
				<div class="modal-body">
					<div id="edit">asd</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" id="prvbtn">Previous</button>
					<button type="button" class="btn btn-success" id="nxtbtn">Next</button>
					<button type="button" class="btn btn-danger" id="close">Close</button>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid col-lg-offset-1 col-lg-10">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">plant<i class="fa fa-envira" aria-hidden="true"></i><span class="to-white">ID</span></a>
				<p class="navbar-text to-white">ADMIN MODE</p>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">LOGOUT</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="col-lg-4 col-md-6 col-sm-12">
			<div class="row">
				<div class="jumbotron" id="admin-select">
					<h4>Select the Attribute That You Want to Edit:</h4>
					<div data-toggle="buttons">
						<label class="btn btn-success">
							<input type="radio" name="admin-filter" value="1"><span class="admin-attr">Shape</span><span class="keymap">1</span>
						</label>
						<label class="btn btn-success">
							<input type="radio" name="admin-filter" value="2"><span class="admin-attr">Pinnated</span><span class="keymap">2</span>
						</label>
						<label class="btn btn-success">
							<input type="radio" name="admin-filter" value="3"><span class="admin-attr">Leaflet Bilateral</span><span class="keymap">3</span>
						</label>
						<label class="btn btn-success">
							<input type="radio" name="admin-filter" value="4"><span class="admin-attr">Leaflet Top</span><span class="keymap">4</span>
						</label>
						<label class="btn btn-success">
							<input type="radio" name="admin-filter" value="5"><span class="admin-attr">Slanted</span><span class="keymap">5</span>
						</label>
						<label class="btn btn-success">
							<input type="radio" name="admin-filter" value="6"><span class="admin-attr">Serrated</span><span class="keymap">6</span>
						</label>
						<label class="btn btn-success">
							<input type="radio" name="admin-filter" value="7"><span class="admin-attr">Veins</span><span class="keymap">7</span>
						</label>
						<label class="btn btn-success">
							<input type="radio" name="admin-filter" value="8"><span class="admin-attr">Veins Bilateral</span><span class="keymap">8</span>
						</label>
						<label class="btn btn-success">
							<input type="radio" name="admin-filter" value="9"><span class="admin-attr">Shiny</span><span class="keymap">9</span>
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class='jumbotron' id="edit-select-att">
					<h4>Select the Attribute to be Replaced With:</h4>
					<div data-toggle='buttons' id="e1" class="edit-q">
						<label class='btn btn-success'>
							<input type='radio' name="eshape" id="e1a1" value='S'> Simple Oval							
						</label>
						<label class='btn btn-success'>
							<input type='radio' name="eshape" id='e1a2' value='M'> Lobed
						</label>
						<label class='btn btn-success'>
							<input type='radio' name="eshape" id='e1a3' value='L'> Leaflets
						</label>
					</div>
					<div data-toggle='buttons' id="e2" class="edit-q">
						<label class='btn btn-success'>
							<input type='radio' name="epinnated" id='e2a1' value='Y'> Yes							
						</label>
						<label class='btn btn-success'>
							<input type='radio' name="epinnated" id='e2a2' value='N'> No
						</label>
					</div>
					<div data-toggle='buttons' id="e3" class="edit-q">
						<label class='btn btn-success'>
							<input type='radio' name="ebliteral" id='e3a1' value='Y'> Yes							
						</label>
						<label class='btn btn-success'>
							<input type='radio' name="ebliteral" id='e3a2' value='N'> No
						</label>
					</div>
					<div data-toggle='buttons' id="e4" class="edit-q">
						<label class='btn btn-success'>
							<input type='radio' name="eltop" id='e4a1' value='Y'> Yes							
						</label>
						<label class='btn btn-success'>
							<input type='radio' name="eltop" id='e4a2' value='N'> No
						</label>
					</div>
					<div data-toggle='buttons' id="e5" class="edit-q">
						<label class='btn btn-success'>
							<input type='radio' name="eslanted" id='e5a1' value='Y'> Yes							
						</label>
						<label class='btn btn-success'>
							<input type='radio' name="eslanted" id='e5a2' value='N'> No
						</label>
					</div>
					<div data-toggle='buttons' id="e6" class="edit-q">
						<label class='btn btn-success'>
							<input type='radio' name="eserrated" id='e6a1' value='Y'> Yes							
						</label>
						<label class='btn btn-success'>
							<input type='radio' name="eserrated" id='e6a2' value='N'> No
						</label>
					</div>
					<div data-toggle='buttons' id="e7" class="edit-q">
						<label class='btn btn-success'>
							<input type='radio' name="eveins" id='e7a1' value='L'> Low / Medium							
						</label>
						<label class='btn btn-success'>
							<input type='radio' name="eveins" id='e7a2' value='H'> Medium / High
						</label>
					</div>
					<div data-toggle='buttons' id="e8" class="edit-q">
						<label class='btn btn-success'>
							<input type='radio' name="evbilateral" id='e8a1' value='Y'> Yes							
						</label>
						<label class='btn btn-success'>
							<input type='radio' name="evbilateral" id='e8a2' value='N'> No
						</label>
					</div>
					<div data-toggle='buttons' id="e9" class="edit-q">
						<label class='btn btn-success'>
							<input type='radio' id='eshiny' value='L'> Low / Medium							
						</label>
						<label class='btn btn-success'>
							<input type='radio' id='eshiny' value='H'> Medium / High
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="jumbotron" id="filter">
					<h4>Search Plants by Describing Leaf Attributes:</h4>
					<div class="expandible-question">
						<div class="question">
							<div>What is the general shape of the leaf?</div>
							<div class="btn-group btn-group-justified" data-toggle="buttons" id="q1">
								<label class="btn btn-success">
									<input type="radio" name="shape" id="q1a-a1" value="= 'S'"> Simple Oval
								</label>
								<label class="btn btn-success">
									<input type="radio" name="shape" id="q1a-a2" value="= 'M'"> Lobed
								</label>
								<label class="btn btn-success">
									<input type="radio" name="shape" id="q1a-a3" value="= 'L'" class="expand-trigger"> Leaflets
								</label>
								<label class="btn btn-success">
									<input type="radio" name="shape" id="q1a-a4"> Not Sure
								</label>
							</div><br>
						</div>
						<div class="question secondary-question">
							<div>Is the leaf pinnated?</div>
							<div class="btn-group btn-group-justified" data-toggle="buttons">
								<label class="btn btn-success">
									<input type="radio" name="pinnated" id="q1b-a1" value="= 'Y'"> Yes
								</label>
								<label class="btn btn-success">
									<input type="radio" name="pinnated" id="q1b-a2" value="= 'N'"> No
								</label>
								<label class="btn btn-success">
									<input type="radio" name="pinnated" id="q1b-a3"> Not Sure
								</label>
							</div><br>
						</div>
						<div class="question secondary-question">
							<div>Are the leaflets bilateral?</div>
							<div class="btn-group btn-group-justified" data-toggle="buttons">
								<label class="btn btn-success">
									<input type="radio" name="leaflet_bilateral" id="q1c-a1" value="= 'Y'"> Yes
								</label>
								<label class="btn btn-success">
									<input type="radio" name="leaflet_bilateral" id="q1c-a2" value="= 'N'"> No
								</label>
								<label class="btn btn-success">
									<input type="radio" name="leaflet_bilateral" id="q1c-a3"> Not Sure
								</label>
							</div><br>
						</div>
						<div class="question secondary-question">
							<div>Are there any leaflets on the top?</div>
							<div class="btn-group btn-group-justified" data-toggle="buttons">
								<label class="btn btn-success">
									<input type="radio" name="leaflet_top" id="q1d-a1" value="= 'Y'"> Yes
								</label>
								<label class="btn btn-success">
									<input type="radio" name="leaflet_top" id="q1d-a2" value="= 'N'"> No
								</label>
								<label class="btn btn-success">
									<input type="radio" name="leaflet_top" id="q1d-a3"> Not Sure
								</label>
							</div><br>
						</div>
					</div>
					<div class="question">
						<div>Is the tip of the leaf slanted?</div>
						<div class="btn-group btn-group-justified" data-toggle="buttons">
							<label class="btn btn-success">
								<input type="radio" name="slanted" id="q2-a1" value="= 'Y'"> Yes
							</label>
							<label class="btn btn-success">
								<input type="radio" name="slanted" id="q2-a2" value="= 'N'"> No
							</label>
							<label class="btn btn-success">
								<input type="radio" name="slanted" id="q2-a3"> Not Sure
							</label>
						</div><br>
					</div>
					<div class="question">
						<div>Is the leaf serrated?</div>
						<div class="btn-group btn-group-justified" data-toggle="buttons">
							<label class="btn btn-success">
								<input type="radio" name="serrated" id="q3-a1" value="= 'Y'"> Yes
							</label>
							<label class="btn btn-success">
								<input type="radio" name="serrated" id="q3-a2" value="= 'N'"> No
							</label>
							<label class="btn btn-success">
								<input type="radio" name="serrated" id="q3-a3"> Not Sure
							</label>
						</div><br>
					</div>
					<div class="question">
						<div>How prominent are the leaf's veins?</div>
						<div class="btn-group btn-group-justified" data-toggle="buttons">
							<label class="btn btn-success">
								<input type="radio" name="veins" id="q4-a1" value="in ('L','M')"> Low / Medium
							</label>
							<label class="btn btn-success">
								<input type="radio" name="veins" id="q4-a2" value="in ('M','H')"> Medium / High
							</label>
							<label class="btn btn-success">
								<input type="radio" name="veins" id="q4-a3"> Not Sure
							</label>
						</div><br>
					</div>
					<div class="question">
						<div>Are the veins of the leaf bilateral?</div>
						<div class="btn-group btn-group-justified" data-toggle="buttons">
							<label class="btn btn-success">
								<input type="radio" name="veins_bilateral" id="q5-a1" value="= 'Y'"> Yes
							</label>
							<label class="btn btn-success">
								<input type="radio" name="veins_bilateral" id="q5-a2" value="= 'N'"> No
							</label>
							<label class="btn btn-success">
								<input type="radio" name="veins_bilateral" id="q5-a3"> Not Sure
							</label>
						</div><br>
					</div>
					<div class="question">
						<div>Is the leaf shiny?</div>
						<div class="btn-group btn-group-justified" data-toggle="buttons">
							<label class="btn btn-success">
								<input type="radio" name="shiny" id="q6-a1" value="in ('L','M')"> Low / Medium
							</label>
							<label class="btn btn-success">
								<input type="radio" name="shiny" id="q6-a2" value="in ('M','H')"> Medium / High
							</label>
							<label class="btn btn-success">
								<input type="radio" name="shiny" id="q6-a3"> Not Sure
							</label>
						</div>
					</div>
					<button id="reset" type="button" class="btn btn-danger btn">Reset</button>
				</div>
			</div>
			<div class="row">
				<div class="jumbotron text-center" id="progress">
					<div class="row">
						<div id="result-block">
							<div id="total-results">
								<h4>Matches:</h4>
								<h4 id="number-of-results"></h4>
							</div>
							<div id="slash"><h1>/</h1></div>
							<div id="total-species">
								<h4>Species:</h4>
								<h4 id="number-of-total"></h4>
							</div>
						</div>
						<input value="0" class="dial" id="progresscircle" disabled readonly>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8 col-md-6 col-sm-12">
			<div class="jumbotron" id="results-container">
				<h4>Results</h4>
				<div id="results-photo"></div>
			</div>
		</div>
	</div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/javascripts/plant.js"></script>
<script src="/javascripts/admin.js"></script>
</body>
</html>
